<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base Page</title>

    <link rel="stylesheet" href=" {{ url_for('static', filename = 'css/style.css')}}">
</head>
<body>

    <h1>
        This is base temp that will be extends
    </h1>

    <ul>
        {%for i in list%}

        <a href="{{url_for('detail', id = i.id)}}"> {{i.question}} </a>

        <li>{{i.variant_1}} </li>
        <li>{{i.variant_2}}</li>
        <li>{{i.variant_3}}</li>
        {%endfor%}
    </ul>

<img style="width : 200px; height : 200px;" src="{{url_for('static', filename = 'images/01.png')}}" alt="kartinka">

    {%block content%}


    {%endblock%}

</body>
</html>