{%extends 'main_page.html'%}

{% block main %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">

   <form style="margin-bottom : 375px; margin-top: 70px;" method="POST" action="">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>


        <p>
            <input type="submit" value="Sign in">
        </p>
    </form>

    {%for msg in get_flashed_messages()%}
    {{msg}}
    {%endfor%}
        </div>
    </div>
</div>
{% endblock %}
