{%extends 'index.html'%}

{%block content%}

<h2>It is a main page</h2>

    <ul>
        <li><a href="{{url_for('register')}}"> Registration </a></li>
    </ul>

      <h1>Форма для вопроса и вариантов ответов</h1>
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.question.label(class="form-label") }}
        {{ form.question(class="form-control") }}
    </div>
    <br>
    <div class="form-group">
        {{ form.variant_1.label(class="form-label") }}
        {{ form.variant_1(class="form-control") }}
    </div>
    <br>
    <div class="form-group">
        {{ form.variant_2.label(class="form-label") }}
        {{ form.variant_2(class="form-control") }}
    </div>
    <br>


    <br>

    <div class="form-group">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>

{%for msg in get_flashed_messages() %}

    {{msg}}
{%endfor%}



{%endblock%}
