<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>


   <form method="POST" action="/register">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>
        <p>
            {{ form.password1.label }}<br>
            {{ form.password1(size=32) }}<br>
            {% for error in form.password1.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>

            <p>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32,value='') }}<br>
            {% for error in form.password2.errors %}
                <span style="color: red;">{{ error }}</span><br>
            {% endfor %}
        </p>
        <p>
            <input type="submit" value="Зарегистрироваться">
        </p>
    </form>

    {%for msg in get_flashed_messages()%}
    {{msg}}
    {%endfor%}

</body>
</html>